/*
Theme Name: Eventz Html Theme
Version: 1.0.0
Author: Themeboxr Team
Email: info@themeboxr.com
Website: http://themeboxr.com
Copyright: All rights reserved by themeboxr.com
*/
/*** GLOBAL CSS ***/
html {
  font-size: 62.5%;
}
/* Sets up the Base 10 stuff */
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.0999999999999996rem;
  line-height: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Exo', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
h1,
.h1 {
  font-size: 36px;
  line-height: 54px;
  font-size: 3.6rem;
  line-height: 5.4rem;
}
h2,
.h2 {
  font-size: 30px;
  line-height: 45px;
  font-size: 3rem;
  line-height: 4.5rem;
}
h3,
.h3 {
  font-size: 24px;
  line-height: 36px;
  font-size: 2.4rem;
  line-height: 3.5999999999999996rem;
}
h4,
.h4 {
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
h5,
.h5 {
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.0999999999999996rem;
}
h6,
.h6 {
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.7999999999999998rem;
}
p,
.cbx-content {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.0999999999999996rem;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
  line-height: 2.8rem;
  letter-spacing: normal;
}
ul,
ol {
  margin-top: 0;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
blockquote {
  border-left: none;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #555;
  padding: 15px;
  font-size: 17px;
  line-height: 25.5px;
  font-size: 1.7rem;
  line-height: 2.55rem;
  font-weight: 400;
  font-style: italic;
}
blockquote i {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  color: #343d47;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
.cbx-container {
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #e88a82;
}
a:hover {
  text-decoration: none;
  color: #b02c20;
  outline: 0;
}
a:focus {
  text-decoration: none;
  color: #b02c20;
  outline: 0;
}
img {
  max-width: 100%;
}
iframe {
  width: 100%;
}
.span-color {
  color: #DC4E41;
}
.span-color2 {
  color: #8ac329;
}
.uppercase {
  text-transform: uppercase;
}
/*PLACEHOLDER ISSUE*/
::-webkit-input-placeholder {
  color: #e88a82;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #e88a82;
}
.cbx-inner {
  padding: 12rem 0;
}
.cbx-heading {
  margin: 0 auto;
  margin-bottom: 10rem;
}
.cbx-heading h2,
.cbx-heading .h1 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 67.5px;
  font-size: 4.5rem;
  line-height: 6.75rem;
  margin-bottom: 5rem;
  color: #343d47;
  z-index: 9;
}
.cbx-heading h2 .heading-serial,
.cbx-heading .h1 .heading-serial {
  position: relative;
}
.cbx-heading h2 .heading-serial .heading-serial-inner,
.cbx-heading .h1 .heading-serial .heading-serial-inner {
  color: #DC4E41;
  font-size: 100px;
  position: absolute;
  z-index: 1;
  opacity: .2;
  left: -29px;
  letter-spacing: -2px;
  font-weight: 700;
}
.cbx-heading h2 .title,
.cbx-heading .h1 .title {
  position: relative;
  z-index: 2;
}
.cbx-heading p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem;
  line-height: 3.2rem;
  color: #666;
  max-width: 65%;
  margin: 0 auto;
  text-transform: none;
  letter-spacing: normal;
}
/*REGISTER BUTTON COMMON STYLE*/
.cbx-regiter-common a,
.cbx-regiter-common button {
  font-family: 'Open Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
  background: none;
  border: 1px solid #fff;
  border-radius: 30px 30px 30px 30px;
  padding: 8px 35px;
  color: #fff;
  -webkit-transition: all 0.2 ease;
  transition: all 0.6s linear;
}
.cbx-regiter-common a:focus,
.cbx-regiter-common button:focus {
  outline: none;
}
.cbx-regiter-common a:hover,
.cbx-regiter-common button:hover {
  background: #DC4E41;
}
/*REGISTER BUTTON COMMON STYLE END*/
/*** CONTENT CSS ***/
/***** HEADER START ****/
#cbx-header {
  background: url('http://placehold.it/1920x1000') center center no-repeat fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #ffffff;
  /*MoDAL CUSTOM*/
  /*New NAvbar*/
  /*New NAvbar*/
}
#cbx-header .cbx-header-inner {
  background: -moz-linear-gradient(top, rgba(62, 84, 132, 0.9) 0%, rgba(153, 16, 31, 0.8) 200%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left right, color-stop(0%, rgba(153, 16, 31, 0.8)), color-stop(100%, rgba(246, 242, 242, 0.95)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(62, 84, 132, 0.9) 0%, rgba(153, 16, 31, 0.8) 200%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(62, 84, 132, 0.9) 0%, rgba(153, 16, 31, 0.8) 200%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(62, 84, 132, 0.9) 0%, rgba(153, 16, 31, 0.8) 200%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(62, 84, 132, 0.9) 0%, rgba(153, 16, 31, 0.8) 200%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(59, 89, 153, 0.9)', endColorstr='rgba(189, 8, 28, 0.9)', GradientType=0);
  /* IE6-9 */
  padding-bottom: 100px;
}
#cbx-header .cbx-navbar {
  background: none;
  border-bottom: none;
  border-color: #b02c20;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 15px;
  border: none;
  border-radius: 0;
}
#cbx-header .cbx-navbar .event-ticket {
  margin-top: 7px;
}
#cbx-header .cbx-navbar .event-ticket li a {
  background: #DC4E41;
  display: block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
#cbx-header .cbx-navbar .event-ticket li a:hover {
  background: #8ac329;
}
#cbx-header .navbar-toggle .icon-bar {
  background-color: #fff;
}
#cbx-header .menu-onscroll {
  background: rgba(52, 61, 71, 0.8);
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom-color: #DC4E41;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3s linear;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
#cbx-header .logo h2 a {
  font-size: 35px;
  line-height: 52.5px;
  font-size: 3.5rem;
  line-height: 5.25rem;
  color: #fff;
  font-weight: 900;
}
#cbx-header .logo h2 a span {
  color: #8ac329;
}
#cbx-header .cbx-nav {
  background: none;
  border: none;
  box-shadow: none;
}
#cbx-header .cbx-nav-right li a {
  font-size: 15px;
  line-height: 22.5px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #f1f1f1;
  -webkit-transition: all 0.2 ease;
  transition: all 0.4s linear;
  text-transform: uppercase;
  padding: 15px 5px;
  margin: 0 5px;
}
#cbx-header .cbx-nav-right li a:hover,
#cbx-header .cbx-nav-right li a:active,
#cbx-header .cbx-nav-right li a:focus {
  color: #DC4E41;
}
#cbx-header .cbx-nav-right .active a {
  color: #DC4E41;
  background: transparent;
}
#cbx-header .cbx-header-content {
  margin-top: 14rem;
  display: block;
}
#cbx-header .cbx-header-content h4 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
  font-size: 6rem;
  line-height: 9rem;
  line-height: 7rem;
  margin-bottom: 1.8rem;
  letter-spacing: normal;
}
#cbx-header .cbx-header-content h1 {
  font-weight: 900;
  font-size: 76px;
  line-height: 114px;
  font-size: 7.6rem;
  line-height: 11.399999999999999rem;
  letter-spacing: 4px;
}
#cbx-header .cbx-header-content h5 {
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  font-size: 3.4rem;
  line-height: 5.1rem;
  margin-top: 1.5rem;
}
#cbx-header .cbx-header-content p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
  margin-top: 80px;
  margin-bottom: 20px;
}
#cbx-header .cbx-countdown p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
  margin-top: 40px;
}
.lz-countdown-main {
  margin: 8rem 0;
}
/***** HEADER END ****/
/**** CONTACT START ***/
.cbx-map-text {
  background: #DC4E41;
  padding: 5px 10px;
  width: 250px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
}
#map_canvas {
  height: 400px;
}
#map_canvas img {
  max-width: none;
}
.lz-map {
  text-align: center;
}
#cbx-contact .cbx-contact-form input {
  height: 45px;
  border-radius: 0;
  background: #f1f1f1;
  border: 2px solid #DC4E41;
  -webkit-transition: all 0.2 ease;
  transition: all 0.7s linear;
  border-radius: 4px;
}
#cbx-contact .cbx-contact-form input:hover,
#cbx-contact .cbx-contact-form input:focus {
  background: #fff;
  border: 2px solid #8ac329;
}
#cbx-contact .cbx-contact-form textarea {
  height: 200px;
  border-radius: 0;
  background: #f1f1f1;
  border: 2px solid #DC4E41;
  -webkit-transition: all 0.2 ease;
  transition: all 0.7s linear;
  border-radius: 4px;
}
#cbx-contact .cbx-contact-form textarea:hover,
#cbx-contact .cbx-contact-form textarea:focus {
  background: #fff;
  border: 2px solid #8ac329;
}
#cbx-contact .cbx-send-button {
  margin-top: 20px;
}
#cbx-contact .cbx-send-button button {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 25.5px;
  font-size: 1.7rem;
  line-height: 2.55rem;
  background: #DC4E41;
  color: #fff;
  padding: 10px 30px;
  border: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.2 ease;
  transition: all 0.6s linear;
  border-radius: 4px;
}
#cbx-contact .cbx-send-button button:hover {
  background: #8ac329;
}
.location-bottomcontent {
  font-weight: 700;
  padding: 16px 20px;
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
}
.location-bottomcontent .modal {
  color: #666;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
  text-transform: uppercase;
}
.location-bottomcontent h2 {
  font-size: 40px;
  line-height: 60px;
  font-size: 4rem;
  line-height: 6rem;
  color: #343d47;
  border-right: 2px solid #343d47;
  margin-top: 9px;
  padding-right: 34px;
}
.location-bottomcontent .address {
  padding-left: 20px;
}
.location-bottomcontent .address i {
  color: #f1f1f1;
  padding-right: 10px;
  font-size: 30px;
  line-height: 45px;
  font-size: 3rem;
  line-height: 4.5rem;
}
.location-bottomcontent .address span {
  color: #343d47;
}
.location-bottomcontent button {
  margin-top: 23px;
  background: #b02c20;
  border: 2px solid #343d47;
  border-radius: 30px;
  color: #fff;
  outline: none;
  padding: 9px 34px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3s linear;
}
.location-bottomcontent button:hover,
.location-bottomcontent button:focus {
  outline: none;
  background: #fff;
  color: #DC4E41;
  border: 2px solid #8ac329;
}
.location-bottomcontent li:first-child {
  font-size: 40px;
  line-height: 60px;
  font-size: 4rem;
  line-height: 6rem;
  color: #343d47;
  border-right: 1px solid #343d47;
}
/**** CONTACT END ***/
.cbx-memoris .cbx-inner {
  padding-bottom: 0;
}
.cbx-memoris .cbx-single-memoris {
  padding: 0;
}
.cbx-memoris .single-memoris {
  background: #DC4E41;
  float: left;
  margin: 0 auto;
  width: 25%;
}
.cbx-memoris .single-memoris figure .cbx-vertical a {
  color: #fff;
  font-size: 50px;
  line-height: 75px;
  font-size: 5rem;
  line-height: 7.5rem;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
.cbx-memoris .single-memoris figure .cbx-vertical a:hover {
  color: #DC4E41;
}
.cbx-memoris .fig-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.cbx-memoris .fig-content span {
  display: block;
  clear: both;
}
.cbx-memoris .fig-content span i {
  color: #DC4E41;
}
#cbx-register {
  background: url('http://placehold.it/1920x1000') center center no-repeat fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #ffffff;
}
#cbx-register .cbx-inner {
  background: rgba(52, 61, 71, 0.8);
  padding-bottom: 9rem;
}
#cbx-register .cbx-heading {
  margin-bottom: 12rem;
}
#cbx-register .cbx-heading h2,
#cbx-register .cbx-heading .h1 {
  color: #fff;
}
#cbx-register .cbx-heading h2 .heading-serial .heading-serial-inner,
#cbx-register .cbx-heading .h1 .heading-serial .heading-serial-inner {
  color: #DC4E41;
}
#cbx-register .cbx-heading p {
  color: #f9f9f9;
}
#cbx-register .recommended-area {
  position: relative;
  top: -48px;
}
#cbx-register .recommended-area .recommended {
  background: #343d47;
  color: #ffffff;
  top: -30px;
  left: 0;
  display: block;
  font-family: open sans;
  font-size: 20px;
  font-weight: 900;
  padding: 10px 0;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
#cbx-register .recommended-area:hover .recommended {
  top: -15px;
  background: transparent;
  color: #343d47;
}
#cbx-register .cbx-single-pricing {
  margin-top: 3rem;
  padding: 30px 0;
  background: rgba(52, 61, 71, 0.6);
  color: #666;
  float: left;
  width: 33.3333%;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
#cbx-register .cbx-single-pricing h4 {
  font-size: 30px;
  line-height: 45px;
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 700;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 0;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
#cbx-register .cbx-single-pricing .price-list {
  margin: 30px 0;
}
#cbx-register .cbx-single-pricing .price-list li {
  font-family: 'Open Sans', Arial, sans-serif;
  padding: 10px 0;
  color: #f9f9f9;
  letter-spacing: .05rem;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
  font-weight: 600;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
#cbx-register .cbx-single-pricing .price {
  font-size: 50px;
  line-height: 75px;
  font-size: 5rem;
  line-height: 7.5rem;
  color: #fff;
  font-weight: 900;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
#cbx-register .cbx-single-pricing .price span {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  color: #fff;
  font-weight: 400;
  display: block;
  line-height: 1rem;
}
#cbx-register .cbx-single-pricing .buy-btn {
  margin: 30px 0;
}
#cbx-register .cbx-single-pricing .buy-btn a {
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 8px 20px;
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
#cbx-register .cbx-single-pricing:hover {
  background: #8ac329;
}
#cbx-register .cbx-single-pricing:hover h4 {
  color: #fff;
  background: rgba(52, 61, 71, 0.2);
}
#cbx-register .cbx-single-pricing:hover .price-list li {
  color: #fff;
}
#cbx-register .cbx-single-pricing:hover .buy-btn {
  margin: 30px 0;
}
#cbx-register .cbx-single-pricing:hover .buy-btn a {
  background: #343d47;
  border: 1px solid #343d47;
}
#cbx-register .cbx-single-pricing:hover .buy-btn a:hover {
  background: #dc4e41;
  border: 1px solid #DC4E41;
}
#cbx-register .cbx-single-center {
  background: #dc4e41;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
.cbx-schedule {
  background: #f1f1f1;
}
.cbx-schedule .cbx-tab .nav-pills > li.active > a,
.cbx-schedule .cbx-tab .nav-pills > li.active > a:focus,
.cbx-schedule .cbx-tab .nav-pills > li.active > a:hover {
  background-color: #f1f1f1;
  color: #343d47;
  border-radius: 0;
  padding: 1rem 3.5rem;
}
.cbx-schedule .cbx-tab .nav-pills > li > a {
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
  padding: 1rem 3rem;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
.cbx-schedule .cbx-tab .nav-pills > li > a span {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.0999999999999996rem;
}
.cbx-schedule .cbx-tab .nav-pills > li > a:hover {
  color: #343d47;
  padding: 1rem 3.5rem;
}
.cbx-schedule .cbx-tab ul {
  background: #343d47;
  border-radius: 8px;
}
.cbx-schedule .cbx-tab ul li {
  display: inline-block;
  float: none;
}
.cbx-schedule .cbx-tab .cbx-tab-content:active {
  display: inline-block;
  float: none;
}
.cbx-schedule .cbx-single-tab {
  margin-top: 1rem;
  background: rgba(52, 61, 71, 0.8);
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
.cbx-schedule .cbx-single-tab .cbx-info {
  padding-top: 4rem;
  padding-right: 15px;
}
.cbx-schedule .cbx-single-tab span {
  padding-right: 20px;
  text-transform: uppercase;
}
.cbx-schedule .cbx-single-tab span a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.0999999999999996rem;
  color: #ddd;
}
.cbx-schedule .cbx-single-tab span i {
  color: #8ac329;
}
.cbx-schedule .cbx-single-tab h3 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 37.5px;
  font-size: 2.5rem;
  line-height: 3.75rem;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
}
.cbx-schedule .cbx-single-tab h5 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  padding-bottom: 2rem;
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.0999999999999996rem;
  color: #fff;
}
.cbx-schedule .cbx-single-tab p {
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
  line-height: 2.8rem;
  letter-spacing: normal;
  padding-bottom: 24px;
  color: #f9f9f9;
}
.cbx-schedule .cbx-single-tab:hover {
  background: #343d47;
}
.cbx-schedule .more span {
  position: relative;
  background: #DC4E41;
  color: #f1f1f1;
  padding: 8px 33px 8px 15px;
  -webkit-transition: all 0.2 ease;
  transition: all 0.6s linear;
  border-radius: 4px;
}
.cbx-schedule .more span i {
  position: absolute;
  top: 11px;
  right: 13px;
  color: #f1f1f1;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
.cbx-schedule .more span:hover {
  background: #8ac329;
}
.cbx-schedule .more span:hover i {
  right: 5px;
}
#cbx-speakers {
  /*.sp-single-img-area {
    position: relative;

    h2 {
      .bg-rgba(@brand-color, 0.8);
      color: @white;
      padding: 3px 16px;
      left: 0;
      position: absolute;
      .font-size(24);
    }
  }

  .speaker_text {
    h3 {
      margin-top: 16px;
      color: @white;
    }
    h4 {
      color: @ash-light;
      margin-bottom: 20px;
    }
    ul {
      li {
        background: @brand-dark;
        height: 40px;
        width: 40px;
        margin-top: 20px;
        &:hover {
          background: @brand-light;
          color: @brand-dark;
        }
        i {
          .font-size(24);
          padding-left: 5px;
          padding-top: 2px;
        }
      }

    }
  }
  .speaker_masterimg{
    float: left; margin-right:10px ;
  }
  .kwicks {
    height: 420px;
  }
  .kwicks > li {
    height: 420px;
    .speakers{

      .speaker_verticalimg{
        display: none;
      }
      .speaker_text {
        display: none;
      }
    }
  }
  .kwicks > li.kwicks-expanded {
      .speaker_photo {
        float: left; display: inline-block;
        margin-right: 10px;
      }

      .speaker_text {
        display: block;
        padding: 10px 10px 10px 0;
        color: #fff;
      }
    .sp-single-img-area {
      h2 {
        display: none;
      }
    }
  }
  .kwicks > li.kwicks-collapsed {

    .speakers {
      .speaker_intro{
        display: none;
      }
      .speaker_verticalimg{
        display: block; width: 100%;
      }


    }
  }

  #panel-1 { background-color: @brand-color; }
  #panel-2 { background-color: @brand-color; }
  #panel-3 { background-color: @brand-color; }
  #panel-4 { background-color: @brand-color; }
  #panel-5 { background-color: @brand-color; }
*/
}
#cbx-speakers .cbx-inner {
  padding-bottom: 8rem;
}
#cbx-speakers .sp-single-are {
  margin: 0 auto;
  max-width: 400px;
}
#cbx-speakers .cbx-name-info {
  margin: 15px 0 40px 0;
  text-align: center;
}
#cbx-speakers .cbx-name-info h3 {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  margin-bottom: 5px;
}
#cbx-speakers .cbx-name-info h3 a {
  color: #343d47;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
#cbx-speakers .cbx-name-info h3 a:hover {
  color: #DC4E41;
}
#cbx-speakers .cbx-name-info h4 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
  color: #DC4E41;
  letter-spacing: .05rem;
  text-transform: uppercase;
}
#cbx-speakers .sp-social-icon a {
  color: #fff;
  background: rgba(220, 78, 65, 0.7);
  height: 40px;
  width: 40px;
  border-radius: 4px;
  display: inline-block;
  line-height: 36px;
  margin-bottom: .5rem;
  -webkit-transition: all 0.2 ease;
  transition: all 0.9s linear;
}
#cbx-speakers .sp-social-icon .sp-tw:hover {
  background: #55acee;
}
#cbx-speakers .sp-social-icon .sp-fb:hover {
  background: #3b5999;
}
#cbx-speakers .sp-social-icon .sp-google:hover {
  background: #DC4E41;
}
#cbx-speakers .sp-social-icon .sp-insta:hover {
  background: #3f729b;
}
#cbx-speakers .sp-social-icon .sp-in:hover {
  background: #0077B5;
}
.cbx-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.cbx-view .cbx-hover-link {
  display: table;
  height: 100%;
  width: 100%;
}
.cbx-view .cbx-hover-link .cbx-vertical {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.cbx-view .cbx-figcaption,
.cbx-view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.cbx-view img {
  display: block;
  position: relative;
}
.cbx-view .cbx-effect-one {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
}
.cbx-view p {
  font-size: 12px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
}
.cbx-view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #8ac329;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
}
.cbx-view a.info:hover {
  background: #DC4E41;
}
.cbx-view-inner img {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  -moz-transition: all 0.4s ease-in-out 0.5s;
  -o-transition: all 0.4s ease-in-out 0.5s;
  -ms-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;
}
.cbx-view-inner .cbx-figcaption {
  background: rgba(138, 195, 41, 0.5);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in 0.4s;
  -moz-transition: all 0.3s ease-in 0.4s;
  -o-transition: all 0.3s ease-in 0.4s;
  -ms-transition: all 0.3s ease-in 0.4s;
  transition: all 0.3s ease-in 0.4s;
}
.cbx-view-inner .cbx-effect-one {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  background: transparent;
  margin: 20px 40px 0px 40px;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}
.cbx-view-inner p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -webkit-transition: all 0.3s ease-in-out 0.2s;
  -moz-transition: all 0.3s ease-in-out 0.2s;
  -o-transition: all 0.3s ease-in-out 0.2s;
  -ms-transition: all 0.3s ease-in-out 0.2s;
  transition: all 0.3s ease-in-out 0.2s;
}
.cbx-view-inner a.info {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -o-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}
.cbx-view-inner:hover .cbx-figcaption {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
.cbx-view-inner:hover img {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
.cbx-view-inner:hover .cbx-effect-one {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.cbx-view-inner:hover p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.cbx-view-inner:hover a.info {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
#cbx-sponsored .cbx-inner {
  background: #ffffff;
  padding-bottom: 3rem;
}
#cbx-sponsored .sponsored-heading h4 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  font-size: 2.2rem;
  line-height: 3.3000000000000003rem;
  color: #666;
  padding-bottom: 10px;
}
#cbx-sponsored .single-sponsored {
  margin-top: 20px;
  margin-bottom: 90px;
}
#cbx-sponsored .cbx-heading p {
  margin-bottom: 10px;
}
#cbx-subscriber .cbx-testi-inner {
  background: #343d47;
  padding-top: 9rem;
}
#cbx-subscriber h3 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  font-size: 3rem;
  line-height: 4.5rem;
  color: #fff;
  margin-bottom: 15px;
}
#cbx-subscriber .cbx-subscriber {
  margin-top: 15px;
}
#cbx-subscriber .cbx-subscriber input {
  border-radius: 0;
  border: 1px solid #DC4E41;
  background: #666;
  height: 45px;
  border-radius: 4px;
  color: #fff !important;
  max-width: 70%;
  margin: 0 auto;
}
#cbx-subscriber .cbx-subscriber button {
  background: #DC4E41;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  padding: 12px 32px;
  border-radius: 4px;
  -webkit-transition: all 0.2 ease;
  transition: all 0.9s linear;
}
#cbx-subscriber .cbx-subscriber button:hover {
  background: #8ac329;
}
#cbx-subscriber .form-control:focus {
  border: 1px solid #8ac329;
  box-shadow: none;
  outline: 0 none;
}
#cbx-testimonials {
  background: #f1f1f1;
  /* Carousel */
}
#cbx-testimonials .cbx-single-people {
  font-size: 25px;
  line-height: 37.5px;
  font-size: 2.5rem;
  line-height: 3.75rem;
}
#cbx-testimonials .cbx-single-people p {
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
  line-height: 2.8rem;
}
#cbx-testimonials i:hover {
  color: #DC4E41;
}
#cbx-testimonials .cbx-single-people p {
  font-size: 17px;
  line-height: 25.5px;
  font-size: 1.7rem;
  line-height: 2.55rem;
  font-style: normal;
  line-height: 2.8rem;
}
#cbx-testimonials .cbx-single-people small {
  color: #DC4E41;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
  font-style: normal;
}
#cbx-testimonials #quote-carousel {
  padding: 0 10px 0px 10px;
  margin-top: 30px;
  /* Control buttons  */
  /* Previous button  */
  /* Next button  */
  /* Changes the position of the indicators */
  /* Changes the color of the indicators */
}
#cbx-testimonials #quote-carousel:hover .carousel-control {
  display: block;
}
#cbx-testimonials #quote-carousel .carousel-control {
  background: none;
  color: #CACACA;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
  display: none;
}
#cbx-testimonials #quote-carousel .carousel-control.left {
  left: -60px;
}
#cbx-testimonials #quote-carousel .carousel-control.right {
  right: -60px;
}
#cbx-testimonials #quote-carousel .carousel-indicators {
  right: 50%;
  top: -67px;
  bottom: 0px;
  margin-right: -19px;
}
#cbx-testimonials #quote-carousel .carousel-indicators li {
  width: 50px;
  height: 50px;
  margin: 2px;
  cursor: pointer;
  border: 4px solid #CCC;
  border-radius: 50px;
  opacity: 0.4;
  overflow: hidden;
  transition: all 0.4s;
}
#cbx-testimonials #quote-carousel .carousel-indicators li img {
  border-radius: 50px;
}
#cbx-testimonials #quote-carousel .carousel-indicators .active {
  background: #333333;
  width: 62px;
  height: 62px;
  border-radius: 100px;
  border-color: #DC4E41;
  opacity: 1;
  overflow: hidden;
}
#cbx-testimonials .item blockquote {
  border-left: none;
  margin: 0;
}
#cbx-testimonials .item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  color: #DC4E41;
  font-size: 30px;
  left: 19px;
  margin-right: 0;
  opacity: 0.4;
  position: relative;
  top: 7px;
}
#cbx-testimonials #quote-carousel .carousel-indicators .active {
  height: 50px;
  width: 50px;
}
#cbx-travelinfo .cbx-inner {
  background: #f1f1f1;
}
#cbx-travelinfo .single-hotleinfo {
  margin-bottom: 40px;
}
#cbx-travelinfo .single-service {
  margin-bottom: 40px;
}
#cbx-travelinfo .single-service h3 {
  margin-bottom: 15px;
}
#cbx-travelinfo .single-service h3 a {
  color: #343d47;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
}
#cbx-travelinfo .single-service h3 a i {
  color: #ddd;
  margin-right: 10px;
  font-size: 25px;
  line-height: 37.5px;
  font-size: 2.5rem;
  line-height: 3.75rem;
}
#cbx-travelinfo .single-service p {
  color: #343d47;
  margin-top: 15px;
  font-size: 15px;
  line-height: 22.5px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  line-height: 2.4rem;
}
#cbx-travelinfo .single-service .more-info {
  color: #DC4E41;
  -webkit-transition: all 0.2 ease;
  transition: all 0.9s linear;
}
#cbx-travelinfo .single-service .more-info:hover {
  color: #8ac329;
}
#cbx-venueinner {
  background: url('http://placehold.it/1920x1000') center center no-repeat fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #ffffff;
}
#cbx-venueinner .modal-header {
  border-bottom: medium none;
  padding: 16px 16px 3px;
}
#cbx-venueinner .modal-header .close {
  margin-top: -16px;
  margin-right: -15px;
}
#cbx-venueinner .modal-header .close img {
  max-width: 90%;
}
#cbx-venueinner .modal-dialog {
  margin: 15% auto 30px;
}
#cbx-venueinner .cbx-inner {
  background: rgba(138, 195, 41, 0.5);
  padding: 15% 0;
}
#cbx-venueinner .modal-body {
  padding: 0 15px 15px;
}
#cbx-venueinner #cbx-modal-body {
  background: #b02c20;
}
#cbx-venueinner #cbx-modal-body p {
  padding-top: 24px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
  text-transform: lowercase;
  line-height: 26px;
  color: #fff;
}
#cbx-venueinner .cbx-venue-content .video-play {
  color: #fff;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
  background: #dc4e41;
  border-radius: 50%;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 8px solid rgba(255, 255, 255, 0.3);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
}
#cbx-venueinner .cbx-venue-content .video-play i {
  font-size: 90px;
  line-height: 133px;
  padding-left: 20px;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
#cbx-venueinner .cbx-venue-content .video-play:hover {
  color: #fff;
  background: rgba(138, 195, 41, 0.9);
  border: 8px solid rgba(255, 255, 255, 0.7);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
}
#cbx-venueinner .cbx-modal-header a {
  background: none !important;
  border: none !important;
}
/*COMMON STYLE START*/
.venue-bottomcontent {
  background: rgba(220, 78, 65, 0.7);
  font-weight: 700;
  padding: 16px 20px;
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
}
.venue-bottomcontent .modal {
  color: #666;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
  text-transform: uppercase;
}
.venue-bottomcontent h2 {
  font-size: 40px;
  line-height: 60px;
  font-size: 4rem;
  line-height: 6rem;
  color: #343d47;
  border-right: 2px solid #343d47;
  margin-top: 9px;
  padding-right: 34px;
}
.venue-bottomcontent .address {
  padding-left: 20px;
}
.venue-bottomcontent .address i {
  color: #f1f1f1;
  padding-right: 10px;
  font-size: 30px;
  line-height: 45px;
  font-size: 3rem;
  line-height: 4.5rem;
}
.venue-bottomcontent .address span {
  color: #343d47;
}
.venue-bottomcontent button {
  margin-top: 23px;
  background: #b02c20;
  border: 2px solid #343d47;
  border-radius: 30px;
  color: #fff;
  outline: none;
  padding: 9px 34px;
  -webkit-transition: all 0.2 ease;
  transition: all 0.4s linear;
}
.venue-bottomcontent button:hover,
.venue-bottomcontent button:focus {
  outline: none;
  background: #fff;
  color: #DC4E41;
  border: 2px solid #b02c20;
}
.venue-bottomcontent li:first-child {
  font-size: 40px;
  line-height: 60px;
  font-size: 4rem;
  line-height: 6rem;
  color: #343d47;
  border-right: 1px solid #343d47;
}
/*.modal-dialog {
  width: 40% !important;
}*/
/*COMMON STYLE END*/
#cbx-singlespeaker .speaker-img figure {
  position: relative;
}
#cbx-singlespeaker .speaker-img figure figcaption {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
#cbx-singlespeaker .speaker-img:hover figcaption {
  background: rgba(138, 195, 41, 0.3);
  opacity: 1;
}
#cbx-singlespeaker .sp-title {
  margin-top: 2rem;
}
#cbx-singlespeaker .sp-title h3 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}
#cbx-singlespeaker .sp-title h2 {
  color: #DC4E41;
  margin-bottom: 10px;
}
#cbx-singlespeaker .sp-title h4 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}
#cbx-singlespeaker .sp-title ul {
  margin-bottom: 50px;
}
#cbx-singlespeaker .sp-title ul li a {
  background: #DC4E41;
  height: 40px;
  width: 40px;
  margin-top: 15px;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
#cbx-singlespeaker .sp-title ul li a i {
  line-height: 40px;
  font-size: 22px;
}
#cbx-singlespeaker .sp-title ul li a:hover {
  background: #8ac329;
}
#cbx-singlespeaker .sp-title p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 25.5px;
  font-size: 1.7rem;
  line-height: 2.55rem;
  color: #666;
  line-height: 3rem;
  letter-spacing: normal;
}
#cbx-singlespeaker .sp-details {
  margin-top: 50px;
}
#cbx-singlespeaker .sp-details h4 {
  font-size: 24px;
  line-height: 36px;
  font-size: 2.4rem;
  line-height: 3.5999999999999996rem;
  font-family: 'Open Sans', Arial, sans-serif;
  margin-bottom: 2rem;
  color: #343d47;
}
#cbx-singlespeaker .sp-details p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4000000000000004rem;
  margin-bottom: 2rem;
  color: #555;
  line-height: 2.8rem;
  letter-spacing: normal;
}
#cbx-singlespeaker .sp-details .sp-quotation {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #666;
  background: #fff;
  padding: 15px 10px;
  font-size: 17px;
  line-height: 25.5px;
  font-size: 1.7rem;
  line-height: 2.55rem;
  font-weight: 600;
  font-style: italic;
}
#cbx-singlespeaker .sp-details .sp-quotation i {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  color: #DC4E41;
}
.cbx-memoris-single {
  background: #f1f1f1;
}
/**** FOOTER START ***/
#cbx-footer .cbx-footer-inner {
  background: #343d47;
}
#cbx-footer .cbx-top-inner {
  position: relative;
}
#cbx-footer .cbx-top-inner .cbx-top {
  font-weight: 700;
  padding: 3px 16px;
  position: absolute;
  right: 10px;
  bottom: 0;
  background: #DC4E41;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
#cbx-footer .cbx-top-inner .cbx-top a i {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  color: #fff;
}
#cbx-footer .cbx-top-inner .cbx-top a p {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
}
#cbx-footer .cbx-top-inner .cbx-top:hover {
  background: #8ac329;
  color: #e88a82;
}
#cbx-footer .footer-content {
  color: #f1f1f1;
  padding-top: 15px;
}
#cbx-footer .footer-content .cbx-copy-symbol {
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
#cbx-footer .footer-content p {
  color: #666;
}
#cbx-footer .footer-social {
  margin: 3rem 0;
}
#cbx-footer .footer-social ul li a {
  border: 1px solid #444;
  background: rgba(255, 255, 255, 0.2);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  border-style: double;
  border-width: thick;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
  color: #343d47;
  margin-bottom: 1.5rem;
}
#cbx-footer .footer-social ul li a i {
  font-size: 16px;
  line-height: 38px;
  -webkit-transition: all 0.2 ease;
  transition: all 0.3s linear;
}
#cbx-footer .footer-social ul li a:hover {
  border-color: #8ac329;
  background: #ffffff;
}
#cbx-footer .footer-social ul li .sp-tw:hover {
  color: #55acee;
  border-color: #55acee;
}
#cbx-footer .footer-social ul li .sp-fb:hover {
  color: #3b5999;
  border-color: #3b5999;
}
#cbx-footer .footer-social ul li .sp-google:hover {
  color: #DC4E41;
  border-color: #DC4E41;
}
#cbx-footer .footer-social ul li .sp-insta:hover {
  color: #3f729b;
  border-color: #3f729b;
}
#cbx-footer .footer-social ul li .sp-in:hover {
  color: #0077B5;
  border-color: #0077B5;
}
/**** FOOTER END ***/
#cbx-countdown {
  background: url('../img/count-bg.jpg') center center no-repeat fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #ffffff;
}
#cbx-countdown .cbx-inner {
  background: rgba(52, 61, 71, 0.9);
  padding: 100px 0;
}
#cbx-countdown .countdown-text {
  font-family: 'Open Sans', Arial, sans-serif;
}
#cbx-countdown .countdown-text .count-tilte {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  font-size: 3rem;
  line-height: 4.5rem;
  color: #fff;
  margin-bottom: 50px;
}
.lz-circular-countdown-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.lz-circular-clock-item .lz-circular-inner {
  height: 0px;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}
.lz-circular-clock-canvas {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 0px;
  padding-bottom: 100%;
}
.lz-circular-text {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}
.lz-circular-text .lz-circular-val {
  font-size: 50px;
  font-weight: 900;
  font-family: 'Open Sans', Arial, sans-serif;
}
.lz-circular-text .lz-circular-type-time {
  font-size: 16px;
  text-transform: uppercase;
}
/**
  MEDIA QUERIES
  */
@media (min-width: 768px) and (max-width: 991px) {
  .lz-circular-text {
    top: 35%;
  }
  .lz-circular-text .lz-circular-val {
    font-size: 35px;
  }
  .lz-circular-text .lz-circular-type-time {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .lz-circular-text {
    top: 30%;
  }
  .lz-circular-text .lz-circular-val {
    font-size: 25px;
    font-weight: 300;
    font-family: 'Open Sans', Arial, sans-serif;
  }
  .lz-circular-text .lz-circular-type-time {
    font-size: 15px;
  }
  .lz-circular-clock-canvas {
    visibility: hidden;
  }
  .lz-col-item-title,
  .lz-col-item-title:hover {
    text-align: center;
  }
  .lz-circular-text {
    top: 25%;
  }
  .lz-circular-text {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .lz-countdown-container .col-xs-3 {
    width: 25%;
    float: left;
    margin: 0 auto;
  }
  .lz-countdown-container .lz-cd-background {
    border: none;
  }
  .lz-countdown-container .lz-overlap {
    font-size: 10px;
  }
  .lz-countdown-container .lz-cd-number {
    height: 50px;
  }
  .lz-countdown-container .lz-cd-number .digit {
    font-size: 25px;
  }
  .lz-circular-text {
    margin-top: -32px;
  }
  .lz-circular-text .lz-circular-val {
    font-size: 20px;
  }
  .lz-circular-text .lz-circular-type-time {
    font-size: 12px;
  }
}
.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid #DC4E41;
  margin-left: 31px;
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #e88a82;
}
.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid #DC4E41;
  margin-left: 39px;
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 27px solid #e88a82;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #DC4E41;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
/*==================================================
     =            Bootstrap 3 Media Queries      =
  ==================================================*/
/* Wide Screens */
@media only screen and (min-width: 1900px) {
  .cbx-regiter-common a,
  .cbx-regiter-common button {
    border: 2px solid #ffffff;
    padding: 13px 48px;
    text-transform: uppercase;
  }
}
@media (min-width: 1280px) and (max-width: 1400px) {
  #cbx-header .cbx-header-content {
    margin-top: 7rem;
  }
  #cbx-header .cbx-header-content h4 {
    font-size: 47px;
    line-height: 70.5px;
    font-size: 4.7rem;
    line-height: 7.050000000000001rem;
    line-height: 6rem;
    margin-bottom: 0;
  }
  #cbx-header .cbx-header-content h1 {
    font-size: 60px;
    line-height: 90px;
    font-size: 6rem;
    line-height: 9rem;
    letter-spacing: 3px;
  }
  #cbx-header .cbx-header-content h5 {
    font-size: 27px;
    line-height: 40.5px;
    font-size: 2.7rem;
    line-height: 4.050000000000001rem;
    margin-top: 0;
  }
  .lz-countdown-main {
    margin: 5rem 0;
  }
}
/* Wide Screens */
/* Large Devices */
@media only screen and (max-width: 1200px) {
  #cbx-header .cbx-nav-right li a {
    font-size: 13px;
    line-height: 19.5px;
    font-size: 1.3rem;
    line-height: 1.9500000000000002rem;
  }
  #cbx-speakers .sp-social-icon a {
    height: 32px;
    line-height: 30px;
    width: 32px;
  }
  #cbx-memoris .single-memoris figure .cbx-vertical a {
    font-size: 2.8rem;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  html {
    font-size: 50%;
  }
  /* Sets up the Base 10 stuff */
  #cbx-header .cbx-nav-right li a {
    font-size: 15px;
    line-height: 22.5px;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  #cbx-speakers .sp-social-icon a {
    height: 40px;
    line-height: 36px;
    width: 40px;
  }
  #cbx-memoris .single-memoris figure .cbx-vertical a {
    font-size: 5rem;
  }
  .location-bottomcontent h2,
  .venue-bottomcontent h2 {
    border-right: none;
  }
  /*TESTIMONIALS*/
  #cbx-header .cbx-nav-right li a {
    font-size: 14px;
    line-height: 21px;
    font-size: 1.4rem;
    line-height: 2.0999999999999996rem;
    padding: 10px 3px;
    margin: 0 2px;
  }
  #cbx-register .cbx-single-pricing {
    width: 32%;
  }
  #cbx-memoris .single-memoris {
    width: 33.3333%;
  }
  #cbx-header .cbx-nav-right li a {
    line-height: 3.1rem;
  }
  #cbx-header .cbx-navbar .event-ticket {
    margin-top: 2px;
  }
  /*HEADER SECTION*/
  #cbx-header .cbx-header-content h1 {
    font-size: 60px;
    line-height: 90px;
    font-size: 6rem;
    line-height: 9rem;
    letter-spacing: 3px;
    line-height: 7rem;
  }
  #cbx-header .cbx-header-content h4 {
    font-size: 45px;
    line-height: 67.5px;
    font-size: 4.5rem;
    line-height: 6.75rem;
  }
  #cbx-header .cbx-header-content h5 {
    font-size: 30px;
    line-height: 45px;
    font-size: 3rem;
    line-height: 4.5rem;
  }
  #cbx-header .cbx-header-content {
    margin-top: 10rem;
  }
  #cbx-header .cbx-header-inner {
    padding-bottom: 7rem;
  }
  /*HEADER SECTION*/
  /*Speaker SECTION*/
  #cbx-speakers .cbx-name-info {
    margin: 10px 0 35px;
  }
  #cbx-speakers .cbx-name-info h4 {
    font-size: 14px;
  }
  #cbx-speakers .cbx-name-info h3 {
    font-size: 18px;
  }
  /*Speaker SECTION*/
  /*SCHEDULE SECTION*/
  .cbx-schedule .cbx-single-tab p {
    font-size: 14px;
  }
  /*SCHEDULE SECTION*/
  /*TRAVEL INFO*/
  #cbx-travelinfo .single-service p {
    font-size: 14px;
    line-height: 2.8rem;
    margin-top: 10px;
  }
  #cbx-travelinfo .single-service .more-info {
    font-size: 14px;
  }
  /*TRAVEL INFO*/
  /*TESTIMONIALS SECTION*/
  #cbx-testimonials .cbx-single-people p {
    font-size: 15px;
  }
  /*TESTIMONIALS SECTION*/
  #cbx-singlespeaker .sp-details p {
    font-size: 14px;
    line-height: 3rem;
  }
  p {
    font-size: 14px;
    line-height: 3rem;
  }
  blockquote {
    font-size: 14px;
    line-height: 3rem;
  }
  #cbx-singlespeaker .sp-title p {
    font-size: 15px;
    line-height: 3.2rem;
  }
  /*SECTION HEADING*/
  .cbx-heading p {
    font-size: 16px;
    max-width: 70%;
  }
  /*SECTION HEADING*/
}
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (max-width: 980px) {
  #cbx-header .cbx-nav-right li a {
    padding: 10px 3px;
    margin: 0 2px;
  }
}
@media only screen and (max-width: 800px) {
  #cbx-header .cbx-nav-right li a {
    padding: 10px 3px;
    margin: 0 2px;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 48%;
  }
  /* Sets up the Base 10 stuff */
  .xs-text-center {
    text-align: center;
  }
  .location-bottomcontent h2,
  .venue-bottomcontent h2 {
    border-right: none;
  }
  .location-bottomcontent,
  .venue-bottomcontent {
    text-align: center;
  }
  #cbx-register .cbx-single-pricing {
    margin: 0 auto 25px;
    max-width: 60%;
    margin-bottom: 25px;
  }
  #cbx-memorisinner .single-memoris img {
    margin: 0 auto;
  }
  .cbx-selectpicker {
    margin-bottom: 20px;
  }
  /*TESTIMONIALS*/
  #cbx-header .cbx-nav-right li a {
    font-size: 22px;
    line-height: 33px;
    font-size: 2.2rem;
    line-height: 3.3000000000000003rem;
    padding: 5px;
    display: block;
    margin: 5px;
  }
  #cbx-header .cbx-nav-right li a:hover,
  #cbx-header .cbx-nav-right li a:active {
    color: #DC4E41;
  }
  #cbx-register .cbx-single-pricing {
    max-width: 400px;
    width: 100%;
    float: none;
  }
  #cbx-memoris .single-memoris {
    width: 50%;
  }
  .lz-circular-text .lz-circular-val {
    font-size: 30px;
    font-weight: 900;
  }
  #cbx-venueinner .cbx-venue-content .video-play {
    border: 6px solid rgba(255, 255, 255, 0.3);
    height: 100px;
    width: 100px;
  }
  #cbx-venueinner .cbx-venue-content .video-play i {
    font-size: 50px;
    line-height: 89px;
    padding-left: 16px;
  }
  #cbx-venueinner .cbx-venue-content .video-play:hover {
    border: 6px solid rgba(255, 255, 255, 0.7);
  }
  /*TYPHO PAGE*/
  #cbx-header .cbx-header-inner {
    padding-bottom: 20px;
  }
  .cbx-inner {
    padding: 60px 0;
  }
  .cbx-heading {
    margin: 0 auto 40px;
  }
  .cbx-heading p {
    max-width: 100%;
  }
  /*TYPHO PAGE*/
  #cbx-testimonials #quote-carousel .carousel-indicators {
    bottom: 0;
    margin-right: -19px;
    right: 50%;
    top: -36px;
  }
  /*HEADER*/
  #cbx-header .cbx-header-content {
    margin-top: 3rem;
  }
  #cbx-header .cbx-header-content h1 {
    font-size: 4rem;
    line-height: 5.25rem;
  }
  #cbx-header .cbx-header-content h4 {
    font-size: 2.5rem;
    line-height: 7rem;
    margin-bottom: 0rem;
  }
  #cbx-header .cbx-header-content h5 {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1.5rem;
  }
  .lz-countdown-main {
    margin: 7rem 0 4rem 0;
  }
  .navbar-toggle {
    margin-top: 0px;
  }
  .navbar-default .navbar-toggle {
    border-color: #DC4E41;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: #DC4E41;
  }
  .lz-countdown-main {
    margin: 3rem 0 4rem;
  }
  /*HEADER*/
  #cbx-footer .cbx-top-inner .cbx-top {
    display: none;
  }
  .cbx-schedule .cbx-single-tab .cbx-info {
    padding-right: 15px;
    padding-left: 15px;
  }
  /*HEADING*/
  .cbx-heading .h1 .heading-serial,
  .cbx-heading h2 .heading-serial {
    display: none;
  }
  .cbx-heading .h1,
  .cbx-heading h2 {
    margin-bottom: 10px;
  }
  .cbx-heading .h1,
  .cbx-heading h2 {
    font-size: 32px;
  }
  /*HEADING*/
  /*TRAVEL INFO*/
  #cbx-travelinfo .single-hotleinfo,
  #cbx-travelinfo #cbx-travelinfo .single-service {
    margin-bottom: 20px;
  }
  /*TRAVEL INFO*/
  /*SPONSORED SECTION*/
  #cbx-sponsored .cbx-heading {
    margin: 0 auto 1rem;
  }
  #cbx-sponsored .single-sponsored {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  #cbx-sponsored .sponsored-heading {
    margin-top: 3rem;
  }
  #cbx-sponsored .cbx-inner {
    padding-bottom: 60px;
  }
  /*SPONSORED SECTION*/
  #cbx-travelinfo .single-hotleinfo,
  #cbx-travelinfo .single-service {
    margin-bottom: 3rem;
  }
  /*SPEAKER SECTION*/
  #cbx-speakers .cbx-inner {
    padding-bottom: 40px;
  }
  /*SPEAKER SECTION*/
  #cbx-register .cbx-single-pricing .price-list li {
    font-size: 15px;
  }
  #cbx-register .cbx-heading {
    margin-bottom: 5rem;
  }
  #cbx-register .recommended-area {
    top: 0;
  }
  #cbx-register .cbx-inner {
    padding-bottom: 50px;
  }
  #cbx-header .cbx-navbar .event-ticket {
    float: none !important;
    text-align: center;
  }
  #cbx-singlespeaker .sp-title ul {
    margin-bottom: 30px;
  }
  #cbx-singlespeaker .sp-details {
    margin-top: 30px;
  }
  #cbx-footer .footer-social {
    margin-top: 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .cbx-heading .h1,
  .cbx-heading h2 {
    font-size: 28px;
  }
  .cbres-center {
    text-align: center;
  }
  /*HEADER*/
  #cbx-header .cbx-header-content h4 {
    margin-top: 27px;
  }
  #cbx-header .cbx-header-content p {
    margin-top: 42px;
  }
  .lz-countdown-main {
    margin: 6rem 0 4rem;
  }
  /*HEADER*/
  #cbx-speakers .cbx-name-info h4 {
    font-size: 13px;
  }
  #cbx-memoris .single-memoris figure .cbx-vertical a {
    font-size: 2.8rem;
  }
  #cbx-footer .footer-social ul li {
    padding-left: 1px;
    padding-right: 1px;
  }
  #cbx-footer .footer-social ul li a {
    height: 40px;
    width: 40px;
  }
  #cbx-footer .footer-social ul li a i {
    line-height: 31px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  #cbx-speakers .sp-social-icon a {
    height: 32px;
    line-height: 30px;
    width: 32px;
  }
}
/* ==========================================================================
        Style Switcher CSS
========================================================================== */
.cbx-switcher-area {
  position: fixed;
  top: 35%;
  right: 0;
  max-width: 300px;
  z-index: 891;
}
.cbx-switcher-inner {
  position: relative;
}
.cbx-switcher-btn {
  padding: 0px 8px;
  font-weight: bold;
  background: #DC4E41;
  font-size: 25px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 892;
  border-radius: 4px;
}
.cbx-switcher-btn:hover,
.cbx-switcher-btn:active,
.cbx-switcher-btn:focus {
  color: #ffffff;
}
.cbx-switcher-body {
  background: rgba(230, 230, 230, 0.93);
  padding: 10px;
  width: 260px;
  position: absolute;
  top: 0;
  right: -280px;
  border-radius: 4px;
}
.cbx-switcher-list li {
  height: 30px;
  width: 30px;
  float: left;
  display: inline-block;
  margin: 10px;
}
.cbx-switcher-list li a {
  width: 100%;
  height: 100%;
  display: block;
}
.cbx-list-default {
  background: #02ab8d;
}
.cbx-list-red {
  background: #e74c3c;
}
.cbx-list-green {
  background: #2ec887;
}
.cbx-list-blue {
  background: #3498db;
}
.cbx-list-olive {
  background: #559137;
}
.cbx-list-violet {
  background: #9933cc;
}
.cbx-list-pink {
  background: #FF69B4;
}
.cbx-list-navy {
  background: #3b5998;
}
.cbx-list-orange {
  background: #f5740a;
}
.cbx-switcher-text {
  margin-left: 50px;
}
/* ==========================================================================
        //CBX  Theme Style End
========================================================================== */
