@media only screen and (max-device-width: 767px) {
	.top-nav > li > a {
		background: #0053A3;
	}
	#header h1 {
		font-size: 24px;
	}
	#top-search {
		margin-top: 15px;
		padding: 0;
	}
	.actions .select2 {
		display: none;
	}
}