* {
	outline: 0;
}
body {
	background: #FFF;
	color: rgb(22, 50, 92);
	font: 13px "Segoe UI", "Open Sans";
}
h1, h2, h3, h4, h5 {
	font-family: "Open Sans";
	font-weight: 300;
}
a {
	color: #0C5E0C;
}
a:hover {
	text-decoration: none;
}
td a .glyphicon-edit {
	color: ForestGreen;
}
td a .glyphicon-remove {
	color: Crimson;
}
a:hover .glyphicon-edit {
	color: inherit;
}
input[type=file] {
	margin-top: 5px;
}
.red {
	color: Crimson;
}
.btn {
	font-size: 13px;
	padding-top: 7px;
}
.form-control {
	color: #000;
	font-size: 13px;
}
.form-control.datepicker {
	padding: 6px 12px;
}
.form-control.table-decimal {
	text-align: right;
	width: 150px;
}
textarea.form-control {
	height: 83px;
}
html#login {
	height: 100%;
}
#login body {
	color: #FFF;
}
#login body,
#signup body {
	background: url(../img/mawas-bg.jpg);
	height: 100%;
	text-align: center;
}
#login .container,
#login .row {
	height: 100%;
}
#login .row {
	align-items: center;
	display: flex;
}
#login-container,
#signup-container {
	float: none;
	margin: auto;
	padding-bottom: 30px;
}
#login-container > img,
#login-container > h1,
#signup-container > h1 {
	color: rgb(22, 50, 92);
	font-family: Cambria, "Open Sans";
	font-size: 40px;
	margin-bottom: 20px;
}
#login-container .panel {
	border-color: #FFF;
	box-shadow: none;
	padding: 10px;
	text-align: left;
}
#login-container label {
	color: rgb(84, 105, 141);
	font-weight: normal;
}
#login-container .form-control {
	font-size: 14px;
	height: 44px;
}
#login-container .btn-lg.btn-default {
	background: rgb(0, 112, 210);
	border: 1px solid rgb(0, 112, 210);
	color: #FFF;
	font-size: 16px;
	padding: 12px;
	width: 100%;
}
#login-container .btn-lg.btn-default:hover {
	background: rgb(0, 112, 210);
}
#login-container .panel-footer {
	background: #FFF;
	border-top: 1px solid #EEE;
	margin-top: 15px;
	padding: 15px;
}
#login-err {
	color: Crimson;
	font-size: 12px;
	margin-bottom: 15px;
}
#register-link {
	margin-bottom: 20px;
}
#register-link .btn-success {
	border-color: #5CB85C;
}
#login-footer,
#signup-footer {
	color: #FFF;
	font-size: 12px;
	text-align: center;
}
#signup-container {
	margin-bottom: 50px;
}
#signup-container .panel {
	text-align: left;
}
#signup-container .panel-header {
	border-bottom: 1px solid #EEE;
	margin-bottom: 15px;
	padding: 0 15px;
	padding-bottom: 10px;
}
#signup-container .panel-footer {
	background: #FFF;
	border-top: 1px solid #EEE;
	padding-bottom: 20px;
	padding-top: 20px;
}
#signup-container .panel-header h1 {
	color: rgb(22, 50, 92);
	font-size: 20px;
}
#login .modal-title {
	color: rgb(22, 50, 92);
	font-size: 16px;
	text-align: left;
}
.navbar-inverse,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	background: #0073C3;
	border-color: #0053A3;
}
.navbar-brand {
	padding-top: 12px;
}
.top-nav > li > a {
	color: #FFF;
}
.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
	background: #0053A3;
}
.side-nav {
	background: url(../img/mawas-bg.jpg);
}
.side-nav > li > a {
	padding: 8px 15px !important;
}
.side-nav > li > ul > li > a {
	font-size: 12px;
	padding: 7px 20px 7px 45px !important;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a:focus,
.side-nav > li > ul > li > a {
	background: rgba(59, 151, 182, .8) !important;
	color: #FFF;
}
.navbar-inverse .navbar-nav > li > a:hover,
.side-nav > li > ul > li > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover {
	background: #0053A3 !important;
	opacity: 0.8;
}
#page-wrapper,
#page-wrapper > .container-fluid {
	padding: 0;
}
#header {
	background: rgb(244, 246, 249);
	padding: 20px 25px !important;
}
#header h1 {
	font-size: 28px;
	margin: 0;
	padding: 0 !important;
}
#top-search {
	
}
#main-container {
	margin: 25px 0;
}
#main-container .alert {
	margin-left: 15px;
	margin-right: 15px;
}
.actions {
	margin-bottom: 20px;
	padding: 0 15px;
}
.actions > a,
.actions div,
.actions button,
.actions .select2 {
	margin-right: 7px;
}
.actions .btn-group {
	margin-right: 10px;
}
#num-data {
	color: Peru;
	font-size: 14px;
	margin-bottom: 20px;
	padding: 5px 20px;
}
.table-responsive {
	margin-bottom: 15px !important;
}
.table-profile,
.table-profile td {
	white-space: normal !important;
}
.table-profile td.td-label {
	color: #777;
}
.table,
.table td {
	white-space: nowrap;
}
.table.table-non-fluid {
	width: auto !important;
}
.table.table-condensed th,
.table.table-condensed td {
	font-size: 12px;
	padding: 6px 8px !important;
}
.table thead th,
.table tbody td {
	font-size: 12px;
	padding: 8px 10px !important;
}
.table thead th {
	color: rgb(84, 105, 141);
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle !important;
}
.table thead th a {
	color: rgb(84, 105, 141);
}
.table td.num {
	text-align: center;
}
.table td.ico {
	text-align: center;
	padding: 8px 6px !important;
}
.table td.middle {
	vertical-align: middle;
}
.table th.highlight,
.table td.highlight {
	background: #FFA;
}
.table tfoot td {
	font-weight: bold;
}
.pagination {
	margin: 0 15px;
	margin-bottom: 20px;
}
.separator {
	border-top: 1px dashed #DDD;
	margin-bottom: 20px;
	margin-top: 10px;
}
.separator2 {
	border-top: 1px #DDD;
	margin-bottom: 20px;
	margin-top: 10px;
}
.form-group .control-label {
	color: rgb(84, 105, 141);
	font-weight: inherit;
}
.form-group .control-radio {
	height: 34px;
}
.form-submit {
	margin: 20px 0;
	text-align: center;
}
.form-submit .btn {
	text-transform: uppercase;
}
h4.modal-title {
	font-size: 20px;
}
.modal-body .select2 {
	width: 100% !important;
}
.modal-footer {
	background: rgb(244, 246, 249);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.profile {
	border-bottom: 1px solid #EEE;
	font-size: 13px;
	margin: 0;
	padding: 10px 5px;
}
.profile dt {
	color: #777;
	font-weight: normal;
}
.dashboard-card {
	color: #FFF;
	font-family: "Open Sans";
	font-size: 40px;
	font-weight: 300;
	padding: 20px 15px;
}
.dashboard-card .glyphicon {
	font-size: 50px;
	margin-top: 15px;
}
.dashboard-card .dashboard-small {
	font-size: 13px;
	line-height: 16px;
}
#card-royalblue {
	background: #67C2EF;
}
#card-royalblue .glyphicon {
	color: #17729F;
}
#card-crimson {
	background: #FF5454;
}
#card-crimson .glyphicon {
	color: #AF0404;
}
#card-orange {
	background: #FABB3D;
}
#card-orange .glyphicon {
	color: #CA8B0D;
}
#card-green {
	background: #79C447;
}
#card-green .glyphicon {
	color: #398407;
}
.pBar {
	height: 15px;
	margin-bottom: -4px;
	margin-top: 2px;
	width: 100%;
}
#bengkel-map,
.blank-map {
	height: 250px;
	margin-bottom: 25px;
}
.blank-map {
	background: #EEE;
	color: #888;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 300;
	height: 250px;
	padding: 10px 15px;
	padding-top: 100px;
	text-align: center;
}
.foto {
	background: #EEE;
	border: 1px solid #0073C3;
	border-bottom: 0;
	padding: 5px;
	padding-bottom: 10px;
}
.caption {
	background: #0073C3;
	color: #FFF;
	font-size: 11px;
	padding: 7px 10px;
}
#register-options {
	margin: 0;
	padding: 0;
}
#register-options li {
	font-size: 18px;
	text-align: left;
}
#register-options li a {
	border-radius: 10px;
	color: rgb(22, 50, 92);
	display: block;
	padding: 15px;
}
#register-options li a:hover {
	background: #EEF;
	color: #000;
}
#register-options li a img {
	margin-right: 15px;
}